<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatteryPercent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BatteryPercent.Properties.Settings>
            <setting name="AutoBackgroundColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutomaticTextColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowClock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClockFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBatteryPercent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBatteryTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value />
            </setting>
            <setting name="OverallOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BackgroundOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TextOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OverlaySize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoFlicker" serializeAs="String">
                <value>False</value>
            </setting>
        </BatteryPercent.Properties.Settings>
    </userSettings>
</configuration>